<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
    <title>Productos</title>
</head>
<body>
    <div class="container"> 
        <h1>Productos</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>stock</th>
                    <th>Marca</th>
                    <th>nombre</th>
                    <th>precio</th>
                    <th>Imagen</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
            {% for gar in garden %}
                <tr>
                    <td>{{ gar.stock }}</td>
                    <td>{{ gar.marca }}</td>
                    <td>{{ gar.nombre }}</td>
                    <td>{{ gar.precio }}</td>
                    {% if gar.imagen %}
                    <td>
                        <img src="{{ gar.imagen.url }}" style="height: 50px; width: 50px;">
                    </td>
                    {% else %}
                    <td>
                        <p style="color:red">No tiene foto</p>
                    </td>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <td>
                            <a href="{% url 'eliminar' gar.marca%}" class="btn btn-danger">Eliminar</a>
                        </td>
                    {% else %}
                        <td>
                            <a href="#" class="btn btn-danger">No tiene permiso</a>
                        </td>
                    {% endif %}
                    
                    <td>
                        <a href="{% url 'modificar' gar.marca %}" class="btn btn-warning">Modificar</a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'crear' %}" class="btn btn-success">Crear producto</a>
    </div>
   
</body>
</html>